@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-uniquifier{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
html{
    font-size: 10px;
    max-width: 1600px;
}


/* SHARED */
body{
    background-color: #1A0B2E;
}

.gradient-text{
    background: -webkit-linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.flex{
    display: flex;
}
.button-primary{
    font-size: 1.6rem;
    font-weight: 600;
    padding:12px 16px;
    border: none;
    background:var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-radius: 10000px;
    color: white;

}
.button-primary:hover{
    color: #FB09B4;
    background: transparent;
    border: 2px solid #FB09B4;
}
.button-secondary{
    font-size: 1.6rem;
    font-weight: 600;
    padding:12px 16px;
    border: 2px solid #00FF88;
    border-radius: 10000px;
    background-color: transparent;
    color: #00FF88;

}
.button-secondary:hover{
    border: none;
    background-color: #00FF88;
    color: white;

}

.section-heading{
    font-size: 4.8rem;
    font-weight: bold;
    color: white;
    text-align: center;

}
.paragraph{
    font-size: 1.6rem;
    color: white;
    opacity:80%;
    line-height: 20px;

}
/* Navbar */
nav{  
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    color: white;
    border-bottom: 2px solid #412567;
    
}
.logo{
    font-size: 1.5rem;
    
}
.menu a{
     text-decoration: none;
     color: White;
     font-size: 1rem;
     opacity:95%;
}
.menu ul{
    list-style: none;
    gap: 32px;
}
.burger-menu{
    display: none;
    position: relative;
    left: 30px;
}

/* Banner */
#banner{
    background:url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 700px;
    background-position:Top;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-container{
    width: 550px;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.circle{
    width:35rem ;
    height:35rem ;
    background:url(../assets/hero-circle.png) ;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#badge{
    background-color: #00FF88;
    font-size: 1.125rem;
    font-weight:600;
    padding: 8px 16px;
    border: none;
    border-radius: 10000px;
    margin-left: 200px;
    margin-top: -80px;
    box-shadow:#00FF88 0px 1px 10px 0px;
}
.wave h1{
    color: white;
    font-size: 3.75rem;
    font-weight: bold;
    margin-bottom: 8px;

}
.wave p{
    margin-bottom: 24px;
}
.btn{
    gap:8px;
}



/* About The Podcast */

#about{
    width:100%;
    
}
.about-container{
    width:100%;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.podcast {
    width: 50%;
    margin: 0px auto;
    
}

hr{
    opacity: 10%;
    width: 900px;
    margin: 40px 0px;
    text-align: center;
}
.rating{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    justify-content: center;
}
.about-item{
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 50px;
    
}
.about-item h1{
    font-size: 3rem;
    color: #00FF88;
    font-weight: bolder;

}


/* WHY */
#why{
    width: 100%;
    color: white;
    position: relative;
    top: -50px;
}
.why-container{
    width: 1000px;
    margin: 0px auto;
    padding:120px 0px;

    
}
.why-container h1{
    text-align: center;
    margin-bottom: 40px;
}
.why-card{
     padding:40px ;
     border-radius: 40px;
     background-color: rgba(53, 17, 101, 0.4)
}
.why-card img{
    width: 40px;
    height: 40px;
}
.why-card h2{
    font-size: 2.4rem;
    font-weight: bold;
}

.why-item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    
}

#fat{
    grid-column: span 2;
}
#tall{
    grid-row: span 2;
}

/* Episode */
#featured{
    width: 100%;
    color: white;
    position: relative;
    top: -200px;

}
.featured-container{
    width: 1000px;
    margin: 0px auto;
    padding:120px 0px;

}
.featured-container h1{
    text-align: center;
    margin-bottom: 40px;

}
iframe{
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px;
    width: 320px;
    height:214px;

}
.episode{
    width: 100%;
    display: flex;
    gap:30px;
    justify-content: center;
}
.episode-card{
     border-radius: 15px;
     width: 380px;
     background-color: rgba(53, 17, 101, 0.4);
}
.card{
    margin: 0px auto;
    padding:0px 24px;
}
.card h2{
    font-size: 2.4rem;
    font-weight: bold;
}

.duration{
    display: flex;
    gap: 6px;
    align-items: center;
}
.duration img{
    width: 20px ;
    height:20px ;
}
.duration p{
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
}


/* footer */
#footer{
    background:url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    max-width:1600px;
    height:388px;
    background-size: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer-container{
    margin: 120px;
    width:fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sponsor{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    gap:30px;
   
}
.sponsor-card{
    width:130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    position: relative;
    top:-40px;
}

.footer-logo{
    font-size: 6rem;
    font-weight: bolder;
}

/* Meet The HOST */
#host{
    width: 100%;
    color: white;
    position: relative;
    top: 0;
    margin-top: -120px; /* safer: pulls section up without leaving vacated flow space */

}
.host-container{
    width: 1000px;
    margin: 0px auto;
    padding:120px 0px;

}

.host{
    display: flex;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border: none;
    border-radius: 40px;
}
.host-content h2{
    font-size: 2.4rem;
    font-weight: bold;

}
.host-content p{
    font-size: 1.4rem;
}
.social img{
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid #412567;
    border-radius: 10px;
}
    
.social{
    display: flex;
    gap: 8px;
}



















@media screen and (max-width:576px)
{   
            /* BANNER */
            header{
            height:400px;
                    }
                .menu, nav button{
                    display:none;
                }
                .burger-menu{
                        display:block;
                    }
                #banner{
                    background-repeat: no-repeat;
                    background-size: 100% 40%;
                    max-width: 100%;
                }
                .banner-container{
                    width: 100%;
                    position: relative;
                    top: -220px;
                    overflow: auto;

                }

                .circle{
                    width: 100px;
                    height:100px;
                    background-size: contain;
                    flex-direction: column;
                    position:  relative;
                    top: 50px;


                }
                .circle img{
                    width: 30%;

                }
                #badge{
                    position: absolute;
                    left: -120px;
                    top: 80px;
                }
                .wave{
                    width: 50%;
                    position: relative;
                    top: 30px;
                }
                .wave h1{
                    color: white;
                    font-size: 3rem;
                    font-weight: bold;
                }
                .wave p{
                    margin-bottom: 40px;
                }
                .btn{
                    gap:8px;
                }
                /* About */
                .rating{
                    width:100%;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                justify-content: center;
                color: white;
                }
                #about{
                max-width: 100%;
                }
                hr{
                    width: 100%;
                    text-align: center;
                    margin: 40px 0px;
                }
                .about-container{
                    max-width: 100%;
                }
                .podcast{
                    width:100%;
                }
                .about-item{
                    width: 100%;
                }

                /* WHY */
                #why{
                max-width: 100%;
                position: relative;
                top: -100px;;
                }
                .why-container{
                    max-width:100%;
                }
                .why-item{
                    display: flex;
                    flex-direction: column;
            
                }

                /* Episod */
                #featured{
                    max-width: 100%;
                    position: relative;
                    top:-300px;
                }
                .featured-container{
                    max-width: 100%;
                }
                .episode{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            .episode-card{

                    border-radius: 15px;
                    width: 320px;
                    background-color: rgba(53, 17, 101, 0.4)
                        }

                        /* Footer */
            #footer{
            height:fit-content;
            background-size: 100%;

            }
            .footer-container{
                margin: 0px auto;

            }
            .sponsor{
                grid-template-columns: repeat(2,1fr);
                gap:5px;
            }
            .sponsor-card img{
                width: 10px;
                height: 10px;

            }
            .sponsor-card{
                width: fit-content;
                gap: 8px;
                font-size: .5rem;
                position: relative;
                top:-20px;


            }

            .footer-logo{
                font-size: 2rem;
                font-weight: bolder;
                position: relative;
                right: 0px;
                top: -10px;
            }
            .footer-container p{
                font-size: .5rem;
                position: relative;
                top: -25px;
            }
            #host{
            max-width: 100%;
            position: relative;
            top: 0;
            margin-top: -80px; 
            }
            .host{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 24px;
                background-color: rgba(53, 17, 101, 0.4);
                padding: 40px;
                border: none;
                border-radius: 40px;
                        
            }
            .host-content{
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .social{
                justify-content: center;
            }
            .host-container{
                max-width: 100%;
            }

}